/*
 * Destrap Variables
 *
 * @project 	Destrap
 * @section 	Variables
 */
.col-1 {
  background-color: #dddddd;
  border: 1px solid #c4c4c4; }

.col-2 {
  background-color: #dddddd;
  border: 1px solid #c4c4c4; }

.col-3 {
  background-color: #dddddd;
  border: 1px solid #c4c4c4; }

.col-4 {
  background-color: #dddddd;
  border: 1px solid #c4c4c4; }

.col-5 {
  background-color: #dddddd;
  border: 1px solid #c4c4c4; }

.col-6 {
  background-color: #dddddd;
  border: 1px solid #c4c4c4; }

.col-7 {
  background-color: #dddddd;
  border: 1px solid #c4c4c4; }

.col-8 {
  background-color: #dddddd;
  border: 1px solid #c4c4c4; }

.col-9 {
  background-color: #dddddd;
  border: 1px solid #c4c4c4; }

.col-10 {
  background-color: #dddddd;
  border: 1px solid #c4c4c4; }

.col-11 {
  background-color: #dddddd;
  border: 1px solid #c4c4c4; }
