//--------------------------------------------------
// Destrap Grid Framework
//
// Handles grid generation.
//
// @project Destrap
// @section Grid Framework
//--------------------------------------------------

=make-grid-columns()
	@for $i from 1 through $grid-columns
		.col-#{$i}
			@extend .col

=grid-columns-width($device)
	@if index($grid-devices, $device)
		@if index($grid-devices, $device) == 1
			+make-grid-columns-small
		@else if index($grid-devices, $device) == 2
			+make-grid-columns-mid
		@else if index($grid-devices, $device) == 3
			+make-grid-columns-large
	@else
		@warn "`#{$device}` is not an accepted device."

=make-grid-columns-small()
	.col-1
		width: percentage(1 / ($grid-columns / 4))
	@for $i from 2 through $grid-columns
		.col-#{$i}
			width: 100%
			+clearfix

=make-grid-columns-mid()
	@for $i from 1 through $grid-columns
		.col-#{$i}
			@if ($i % ($grid-columns / 2)) == 0
				width: 100%
			@else
				width: percentage(($i % ($grid-columns / 2)) / ($grid-columns / 2))

=make-grid-columns-large()
	@for $i from 1 through $grid-columns
		.col-#{$i}
			width: percentage($i / $grid-columns)

=make-row()
	margin-left: ($gutter / -2)
	margin-right: ($gutter / -2)
	+clearfix

=make-container($type: 'fluid')
	@if $type == 'fluid'
		margin-right: auto
		margin-left: auto
		padding-left: ($gutter / 2)
		padding-right: ($gutter / 2)
		+clearfix

=make-empty-columns()
//	@each $num, $width in $cols
		.append-#{$num}
			margin-right: $width + $gutter
		.prepend-#{$num}
			margin-left: $width + $gutter

=make-push-pull()
//	@each $num, $margin in $cols
		.pull-#{$num}
			@extend .pull
			@if $num == 1
				margin-left: -$margin
			@else
				margin-left: -($margin + $gutter)
		.push-#{$num}
			@extend .push
			@if $num == 1
				margin: 0 (-($margin + $gutter)) 0 ($margin + $gutter)
			@else
				margin: 0 (-($margin + ($gutter * 2))) 0 ($margin + ($gutter * 2))