/**
 * Destrap Navbar Styles
 *
 * @project 	Destrap
 * @section 	Navbar
 */

// Wrapper and base class
//
// Provide a static navbar from which we expand to create full-width, fixed, and
// other navbar variations.

.navbar
	position: relative
	min-height: $navbar-height
	margin-bottom: $navbar-margin-bottom
	border: 1px solid transparent

	// Prevent floats from breaking the navbar
	+clearfix
