/**
 * Destrap Variables
 *
 * @project 	Destrap
 * @section 	Variables
 */

//--------------------------------------------------
// Colors
//--------------------------------------------------

// Standard colors
// @colordef standard colors
$orange:			#dd4814
$orange_light:		#fdf6f2
$grey_dark:			#333333
$grey_warm:			#aea79f
$grey:				#dddddd
$grey_light:		#c2c2c2
$grey_lighter:		#f7f7f7

// Define base color
$base_color:		$orange

// Status
$error:				#df382c // Red
$warning:			#eca918 // Yellow
$success:			#38b44a // Green
$info:				#19b6ee // Cyan
$disabled:			$grey_warm

// Links
$link_color:		$base_color

//--------------------------------------------------
// Grid
//--------------------------------------------------

$base:				16
$gutter_width:		20px
$grid_gutter:		20px
$gutter:			2.12766%

// Cols map
// Defines cols width.
$cols: ( 1: 6.38297%, 2: 14.89361%, 3: 23.40425%, 4: 31.91489%, 5: 40.42553%, 6: 48.93617%, 7: 57.4468%, 8: 65.95744%, 9: 74.46808%, 10: 82.97872%, 11: 91.48936%, 12: 100% )