/**
 * Destrap Variables
 *
 * @project 	Destrap
 * @section 	Variables
 */

//--------------------------------------------------
// Colors
//--------------------------------------------------

// Standard colors
// @colordef standard colors
$orange:			#dd4814 !default
$orange-light:		#fdf6f2 !default
$gray-dark:			#333333 !default
$gray-warm:			#aea79f !default
$gray:				#dddddd !default
$gray-light:		#c2c2c2 !default
$gray-lighter:		#f7f7f7 !default

// Body background
$body-bg:			$gray-lighter !default

// Status
$primary:			$orange
$success:			#38b44a !default
$info:				#19b6ee !default
$warning:			#eca918 !default
$error:				#df382c !default
$disabled:			$gray-warm !default

// Inverted colors
// Use to make contrast with status colors
$primary-inverted:	#fff !default
$success-inverted:	#fff !default
$info-inverted:		#fff !default
$warning-inverted:	$gray-dark !default
$error-inverted:	#fff !default
$disabled-inverted:	#000 !default

// Links
$link-color:		$primary !default
$link-hover-color:	darken($link-color, 7%) !default

// Code
$code-color:			#c7254e !default
$code-bg:				#f9f2f4 !default

$kbd-color:				#fff !default
$kbd-bg:				$gray-dark !default

$pre-bg:				#f5f5f5 !default
$pre-color:				$gray-dark !default
$pre-border-color:		#ccc !default
$pre-max-height:		340px !default

//--------------------------------------------------
// Typography
//--------------------------------------------------
//
// Font, line-height, and color for body text, headings and more.
$font-family-base:		"Helvetica Neue", Helvetica, Arial, sans-serif !default
$font-family-monospace:	Menlo, Monaco, Consolas, "Courier New", monospace !default

$font-size-base:		16px !default
$font-size-large:		ceil(($font-size-base * 1.25)) !default
$font-size-small:		ceil(($font-size-base * 0.85)) !default

$font-size-h1:			floor(($font-size-base * 2.6)) !default
$font-size-h2:			floor(($font-size-base * 2.15)) !default
$font-size-h3:			ceil(($font-size-base * 1.7)) !default
$font-size-h4:			ceil(($font-size-base * 1.25)) !default
$font-size-h5:			$font-size-base !default
$font-size-h6:			ceil(($font-size-base * 0.85)) !default

$font-size-h:			(1: $font-size-h1, 2: $font-size-h2, 3: $font-size-h3, 4: $font-size-h4, 5: $font-size-h5, 6: $font-size-h6)

$text-color:			$gray-dark !default

// Unit-less line-height for use in components like buttons.
$line-height-base:		1.5 !default
// Computed line-height (~24px) for use with margin, padding, etc.
$line-height-computed:	floor(($font-size-base * $line-height-base)) !default

//--------------------------------------------------
// Grid
//--------------------------------------------------

// Number of columns in the grid.
$grid-columns:			12 !default
// Padding between columns. Gets divided in half for the left and right.
// Using percent value here would break nesting of columns.
$gutter:				30px !default
// Accepted grid devices. Used to handle grid floating.
$grid-devices:			'smartphone', 'tablet', 'desktop'

$screen-sm-max:			767px !default
$screen-md-min:			768px !default
$screen-md-max:			1023px !default
$screen-lg-min:			1024px !default

//--------------------------------------------------
// Navbar
//--------------------------------------------------

$navbar-height:			80px !default
$navbar-margin-bottom:	$line-height-computed !default